
@{
    ViewData["Title"] = "Principal";
}


<div class="fancy-monk">
    <div class="row">
        <div id="botones">
            <div class="text-center">
                <h1>Parking Lot</h1>
            </div>
            <div class="col-xs-4 text-center">
                <div style="width: auto; height: 100px">
                    <button class="btn btn-danger" id="Iniciar">Iniciar Sessión</button>
                </div>
                <div style="width: auto; height:100px">
                    <button class="btn btn-danger" id="Crear">Crear cuenta</button>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="text-center text-justify" id="Recuadro">
                    <p>
                        Para darte seguridad a ti y especialmente a tu vehiculo llega Parking Lot
                        una web que te ayudara a encontrar un estacionamiento con lugares disponibles
                        y te guiara hasta el.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>