
@{
    ViewData["Title"] = "Servicios";
}


<section class="services pt-60 pb-60" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-60">
                    <p>Estacionamientos en cada Departamento del Perú</p>
                    <h4>Parking Lot</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="single_service service_right">
                    <h4>Rapido y Seguro</h4>
                    <p>Debido a que muestra una fácil manipulacion y accesibilidad del sistema.</p>
                </div>
                <div class="single_service service_right">
                    <h4>Confiable</h4>
                    <p>Nuestro sistema tiene muchas buenas referencias y ademas tener respaldo de estacionamientos reconocidos.</p>
                </div>
                <div class="single_service service_right">
                    <h4>Transacciones Seguras</h4>
                    <p>Nuestro Sistema de Pago Seguro y difícil de ser vulnerados por agentes externos.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <div class="single_mid">
                    <img src="https://i.pinimg.com/originals/7f/6c/dc/7f6cdce4c15b2d1548b618ce5573bfd3.png" alt="">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="single_service">
                    <h4>Medio de Pago</h4>
                    <p>Puede ofrecer muchas formas de pago como de Tarjetas de Crédito o reserva con anticipación.</p>
                </div>
                <div class="single_service">
                    <h4>Geolocalización Rápida</h4>
                    <p>Nuestro pagina ofrece una rápida gestión de busqueda para su localización. </p>
                </div>
                <div class="single_service">
                    <h4>Estacionamientos</h4>
                    <p>El sistema ofrece una amplia busqueda de estacionamientos por tipo de vehiculo.</p>
                </div>
            </div>
        </div>
    </div>
</section>