
@{
    Layout = null;
}

<div>
    <form action="/Vehiculos/Crear" method="post">
        <div>
            <label>Tipo</label>
            <input type="text" name="Tipo" placeholder="Tipo" />
        </div>
        <div>
            <label>Color</label>
            <input type="color" name="Color" placeholder="Color" />
        </div>
        <div>
            <label>Descripcion</label>
            <input type="text" name="Descripcion" placeholder="Descripcion" />
        </div>
        <div>
            <label>Marca</label>
            <input type="text" name="Marca" placeholder="Marca" />
        </div>
        <div>
            <label>Modelo</label>
            <input type="text" name="Modelo" placeholder="Modelo" />
        </div>
        <div>
            <button class="btn">Guardar</button>
        </div>
    </form>
</div>

